html {
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  box-sizing: border-box;
  font: normal 100%/1.3 Georgia, serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }



/* TYPOGRAPHY */
  h1,
  h2,
  h3 {
    font-family: "Kreon", serif;
  }

  h1 {

  }

  h2 {
    font-size: 2rem;
  }

  h3 {

  }

  p {

  }

/**************/
/* NAVBAR */

nav {
  position: relative;
}

.navbar {
  display: inline-block;
  padding: 0;
  position: absolute;
  right: 0.5rem;
  margin: 0.8rem 0 0 0;
}

.navbar a {
  display: inline-block;
  padding: 0 0.5rem;
  font-family: "Kreon", serif;
  font-size: 0.8rem;
  text-decoration: none;
  color: black;
}

.navbar a:hover {
  background-color: black;
  color: white;
}

.logo {
  position: absolute;
  left: 0.5rem;
  bottom: 0.8rem;
}

/* IMAGES */
img {
  width: 100%;
  max-width: 60em;
}


.nav-icon {
  width: 1.5rem;
  display: inline-block;
}

.logo {
  width: 5rem;
  display: inline-block;
}
/**************/

/* SIZING */
body {
  margin: 0;
}

section {
  text-align: center;
  display: block;
  padding-bottom: 1rem;
}

h1 {
  display: inline-block;
}

.s-lunch-options {
  max-width: 20rem;
  display: block;
}

.section-lunch,
.call-to-action {
  overflow: hidden;
  height: 30rem;
  background-image: url(../images/placeholder-16by9.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.section-breakfast,
.section-allergysafe {
  overflow: hidden;
  height: 30rem;
  background-image: url(../images/placeholder-16by9-dark.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.call-to-action {
  background-color: #cccccc;
  text-align: center;
}

.cta-button {
  color: white;
  background-color: black;
  padding: 0.5rem;
  text-decoration: none;
  font-family: "Kreon", serif;  }

.cta-button:hover {
  background-color: white;
  color: black;
}

.large-nav {
  display: none;
}

.large-nav-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.large-nav-item {

}

.breakfast-text,
.cta-text,
.lunch-text,
.allergy-text,
.information-text {
  width: 80%;
  display: inline-block;
  text-align: left;
  padding-left: 1rem;
  padding-right: 1rem;
  }

.breakfast-text,
.cta-text,
.lunch-text,
.allergy-text {
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
}

.cta-text {
  padding-bottom: 1rem;
}

.s-lunch-button {
  width: 30%;
  display: inline-block;
  text-align: center;
  font-size: 0.8rem;
  max-width: 6rem;
  text-decoration: none;
  color: white;
}

.s-lunch-button:hover {
  font-weight: bold;
}

footer {
  position: relative;
  padding-top: 3%;
  padding-bottom: 3%;
  overflow: visible;
}

a {
  padding: 0;
  margin: 0;
}

.acfood-logo {
  width: 6rem;
  position: absolute;
  left: 3%
}

.social-media-buttons {
  text-align: right;
  display: inline-block;
  position: absolute;
  right: 3%;
}

.social-media-buttons a {
  display: inline-block;
  width: 2rem;
}

.social-media-buttons a:hover {
  border: 1px solid black;
}

section {
  position: relative;
  padding: 0;
}

.breakfast-text,
.lunch-text,
.allergy-text,
.cta-text {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.info-containment {
  text-align: center;
}

@media only screen and (min-width: 25em) {

h2 {
  font-size: 2.2rem;
}

}

@media only screen and (min-width: 38em) {

  .breakfast-text,
  .cta-text,
  .lunch-text,
  .allergy-text,
  .information-text {
    width: 60%;
  }

@media only screen and (min-width: 60em) {

  .breakfast-text,
  .cta-text,
  .lunch-text,
  .allergy-text{
    width: 40%;
  }

  .section-information {
    width: 40%;
    display: inline-block;
  }

  .information-text {
    width: 100%
  }

  h2 {
    font-size: 2.5rem;
  }

}

@media only screen and (min-width: 90em) {

h2 {
  font-size: 2.6rem;
}

}
